.details {
    text-align: center;
    height: 67vh;
    /* border: 1px solid; */

}
.div-btn {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
.btn{
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}